body {
  font-size: medium;
  font-style: italic;
  margin: 20px;  
}

.board {
  margin: auto;
  width: 20%;
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  border: 1px solid violet;
  background-color: green;
  float: left;
  font-size: 40px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}
button:hover {
  cursor: pointer;
}
.status, .restart {
  margin-top: 10px;
}

.restart {
  padding: 10px 15px;
  color: #fff;
  background-color: #06b623;
  border-color: violet;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.restart:active {
  color: #fff;
  background-color: #00cc0a;
  border-color: #f7fafd;
}

.restart:hover {
  color: #fff;
  background-color: #000305;
  border-color: #af1970;
}

.restart:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 5, 87, 0.5);
}